<div class="card-container">
    <div class="card-header">
        <div class="card-head-title">
            <h3>{{ nomComplet }}</h3>
            <span class="card-head-type">
                <small>(Contact)</small>
            </span>
        </div>
    </div>
    <div class="card" id="contact-dedails-card">
        <div>
            <span class="details-nom">{{ nomComplet }}</span>
        </div>
        <div class="flex contact-communication">
            <div class="flex-gauche flex flex-column">
                <span class="details-title">{{ contact.titre }}</span>
                <span class="details-compagnie">Compagnie : {{ contact.companie_id }}</span>
            </div>
            <div class="flex-droite flex flex-column">
                <div>
                    <span class="details-comm">{{ contact.email_1 }}</span>
                    <span class="details-comm-type">- {{ contact.email_1_type }}</span>
                </div>
                <div>
                    <span class="details-comm">{{ contact.email_2 }}</span>
                    <span class="details-comm-type">- {{ contact.email_2_type }}</span>
                </div>
                <div>
                    <span class="details-comm">{{ contact.phone_1 }}</span>
                    <span class="details-comm-type">- {{ contact.phone_1_type }}</span>
                </div>
                <div>
                    <span class="details-comm">{{ contact.phone_2 }}</span>
                    <span class="details-comm-type">- {{ contact.phone_2_type }}</span>
                </div>
            </div>
        </div>
        <span class="details-notes">NOTES : {{ contact.notes }}</span>
    </div>
</div>
